.card3 {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    height: auto;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card-image3 {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.ad-label3 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: yellow;
    color: black;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}

.card-details3 {
    padding: 16px;
}

.card-title3 {
    margin: 0 0 8px;
    font-size: 1.2em;
    text-align: center;
}

.card-price3 {
    margin: 0 0 4px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.card-location3,
.card-date3 {
    margin: 0 0 4px;
    color: #555;
    text-align: center;
}
